# Data Preprocessing By Xin Lin
- Yelp provide dataset on https://www.yelp.com/dataset/download
Containing 6 json files with 6.52 gigabytes uncompressed
We will use this data for training
First we use json_to_csv to convert json file to csv file
By checking data schema as showed below we decided to use business table and review table

<img src="../input/yelp_dataset_schema.png">

In [2]:
import pandas as pd

In [3]:
business = pd.read_csv('../input/business.csv')
review = pd.read_csv('../input/review.csv')

- Check the shape of two tables, business table has 101 columns so we need to select useful columns

In [4]:
business.shape

(174567, 101)

In [5]:
review.shape

(5261669, 9)

- Caculating the missing value ratio for each column we can see that most of columns has more than 50% missing values

In [6]:
business.isnull().sum()/business.shape[0]

attributes.Ambience.divey                     0.838039
attributes.RestaurantsDelivery                0.718343
attributes.DogsAllowed                        0.927741
postal_code                                   0.003569
hours.Thursday                                0.267124
attributes.HairSpecializesIn.coloring         0.990806
attributes.BestNights.sunday                  0.961510
attributes.BYOB                               0.994793
attributes.AgesAllowed                        0.997669
hours.Friday                                  0.270005
latitude                                      0.000006
attributes.Alcohol                            0.735534
attributes.Ambience.classy                    0.742414
attributes.RestaurantsTableService            0.761513
business_id                                   0.000000
attributes.Ambience.touristy                  0.742414
attributes.RestaurantsCounterService          0.997726
attributes.Corkage                            0.996248
attributes.RestaurantsGoodForGroups           0.702762
categories                                    0.000000
name                                          0.000000
attributes.BusinessAcceptsBitcoin             0.939169
attributes.HappyHour                          0.949080
attributes.WheelchairAccessible               0.725550
attributes.Ambience.hipster                   0.742546
attributes.BusinessAcceptsCreditCards         0.245482
is_open                                       0.000000
attributes.Music.video                        0.951268
attributes.Music.live                         0.951268
attributes.Music.background_music             0.951268
                                                ...
attributes.BusinessParking.valet              0.447656
longitude                                     0.000006
attributes.DietaryRestrictions.gluten-free    0.998396
attributes.BYOBCorkage                        0.991946
attributes.BusinessParking.garage             0.447656
attributes.BestNights.friday                  0.961510
hours.Saturday                                0.352547
attributes.Music.dj                           0.951268
attributes.HairSpecializesIn.extensions       0.990806
attributes.BestNights.saturday                0.961510
attributes.Ambience.casual                    0.742414
attributes.BestNights.thursday                0.961510
attributes.BestNights.monday                  0.961510
attributes.HairSpecializesIn.asian            0.992393
attributes.DietaryRestrictions.kosher         0.998396
attributes.WiFi                               0.735288
attributes.Smoking                            0.953726
attributes.DietaryRestrictions.halal          0.998396
attributes.GoodForDancing                     0.948736
attributes.GoodForMeal.breakfast              0.741967
attributes.Caters                             0.787612
attributes.RestaurantsReservations            0.720600
attributes.DietaryRestrictions.dairy-free     0.998396
attributes.DietaryRestrictions.vegan          0.998396
attributes.Ambience.romantic                  0.742414
attributes.Music.jukebox                      0.951268
attributes.Ambience.upscale                   0.742414
attributes.RestaurantsTakeOut                 0.668975
attributes.BikeParking                        0.547371
attributes.OutdoorSeating                     0.699439
Length: 101, dtype: float64

- So we decided to pick columns with less than 10% missing values

In [29]:
cols = business.columns[business.isnull().sum()/business.shape[0] <0.1]

busi = business[cols]

df = busi.merge(review,on='business_id')

In [10]:
df.head()

,postal_code,latitude,business_id,categories,name,is_open,review_count,state,address,city,stars_x,longitude,funny,user_id,review_id,text,stars_y,date,useful,cool
0,85044,33.33069,FYWN1wneV18bWNgQjJ2GNg,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,jTvKkNTat9QftSxL_FMcQw,3_-fne2m2GvKESZRlULAiw,"They make a plan, for your mouth to get health...",5,2017-02-22,0,0
1,85044,33.33069,FYWN1wneV18bWNgQjJ2GNg,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,IG6XMgQyWF2_RW1nKEioxA,5gJk64TDq5lqSuoNiaqjVQ,I have extreme anxiety when it comes to the de...,5,2015-01-20,1,0
2,85044,33.33069,FYWN1wneV18bWNgQjJ2GNg,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,2Rh41EBjWI137N2m5VHJJA,5570rwX_o30Z3NmKhou4CQ,I've only been here once but my husband has be...,5,2013-06-06,3,0
3,85044,33.33069,FYWN1wneV18bWNgQjJ2GNg,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,YcmNpPM0ag94g4T0zAtdcg,iRm438GDAajUiW2GoIAvtA,Great experience with the hygenists and pediat...,4,2016-05-07,0,0
4,85044,33.33069,FYWN1wneV18bWNgQjJ2GNg,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,XGL7VDkeUyM5nKQspJBTNw,9lhJwhRwTsqqPyyoSjMuqw,My husband and I went to this dentist as a rec...,5,2014-04-13,1,0

- Check the data, notice business_id,review_id,user_id is messy code, so we need to encode this columns for convienence and storage reduction

In [30]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(df.user_id)
df.user_id = le.transform(df.user_id)
le.fit(df.review_id)
df.review_id = le.transform(df.review_id)
le.fit(df.business_id)
df.business_id = le.transform(df.business_id)

In [12]:
df.head()

,postal_code,latitude,business_id,categories,name,is_open,review_count,state,address,city,stars_x,longitude,funny,user_id,review_id,text,stars_y,date,useful,cool
0,85044,33.33069,45282,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,984416,376688,"They make a plan, for your mouth to get health...",5,2017-02-22,0,0
1,85044,33.33069,45282,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,399332,550311,I have extreme anxiety when it comes to the de...,5,2015-01-20,1,0
2,85044,33.33069,45282,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,71417,501244,I've only been here once but my husband has be...,5,2013-06-06,3,0
3,85044,33.33069,45282,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,738826,3818679,Great experience with the hygenists and pediat...,4,2016-05-07,0,0
4,85044,33.33069,45282,"['Dentists', 'General Dentistry', 'Health & Me...",Dental by Design,1,22,AZ,"4855 E Warner Rd, Ste B9",Ahwatukee,4.0,-111.978599,0,710424,885841,My husband and I went to this dentist as a rec...,5,2014-04-13,1,0

- Because we are predicting reviews on restaurants so we only pick reviews on restaurants and drop irrelevant columns

In [31]:
df['categories'] = df['categories'].apply(lambda x:1 if 'Restaurant' in x else 0)

df = df[df['categories'] ==1]

df.drop(['categories','longitude','latitude','postal_code','state','review_id'],inplace=True,axis=1)

df.dropna(inplace=True)

df = df.rename(index=str, columns={'stars_x':'Restaurant_Star','stars_y':'Review_Star'})

In [40]:
df.head()

,business_id,name,is_open,review_count,address,city,Restaurant_Star,funny,user_id,text,Review_Star,date,useful,cool
61,72956,Brick House Tavern + Tap,1,116,581 Howe Ave,Cuyahoga Falls,3.5,0,823046,I've always enjoyed my time at brick house foo...,4,2016-05-05,0,0
62,72956,Brick House Tavern + Tap,1,116,581 Howe Ave,Cuyahoga Falls,3.5,0,1070670,1st time here. Came w my Unc bc Louies was clo...,2,2017-03-19,0,0
63,72956,Brick House Tavern + Tap,1,116,581 Howe Ave,Cuyahoga Falls,3.5,0,660505,Worse service ever andI use to be a server so ...,1,2015-08-31,0,0
64,72956,Brick House Tavern + Tap,1,116,581 Howe Ave,Cuyahoga Falls,3.5,0,554113,I am updating my review to 5-stars because I t...,5,2015-10-09,2,2
65,72956,Brick House Tavern + Tap,1,116,581 Howe Ave,Cuyahoga Falls,3.5,0,389384,I enjoyed this place. I went the night the Bu...,4,2015-01-15,0,0

In [41]:
df.shape

(3215700, 14)

# Summary
- After data preprocessing we have about 300 million rows data with 14 features including review text
- After transform this data to csv file the data size is about 2 Gb, because of file limit on github we will only update data with 100000 rows 
- To get full training data download json file from https://www.yelp.com/dataset/download and use json_to_csv_converter.py in json_to_csv folder to transform business.json and reviews.json and put them in input file and run this notebook
- If train on full dataset, we may meet RAM error because of data size, I recommend using Google Cloud Platform with $300 free credit

In [42]:
df.to_csv('../input/Data.csv',index=False)